@import "tailwindcss";

@theme {
  --color-kleiner-red: #CE1126;
  --color-kleiner-blue: #0038A8;
  --color-kleiner-yellow: #FCD116;
  --color-kleiner-black: #000000;
  --color-kleiner-dark: #1A1A1A;
  --color-kleiner-light: #F8F9FA;
}